<div class="page page__product">
    <div class="container">
        <div class="layout">
            <div class="content">
                <h1>Product List</h1>
                <div class="js_products_list product_list">
                    <div class="js_product_item row" *ngFor="let product of products">
                        <div class="c5 js_item_text">
                            {{ product.name }}
                            {{ product.price }}$
                        </div>
                        <div class="c2 js_item_action">
                          <button type="button" class="js_add add-button" (click)="addItem(product)"
                                [disabled]="(product.available < 1 || product.available <= getCartItem(product)) ? 'disabled' : ''">ADD</button>
                        </div>
                    </div>
                </div>
            </div>
            <app-cart></app-cart>
        </div>
    </div>
</div>
