/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.row {
    display: flex;
    margin-bottom: 20px;
    margin-left: 5px;
}
.c5 {
    flex: 5;
}
.c2 {
    flex: 2;
}
.todo-wrap {
    max-width: 500px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.content h1 {
    margin: 0;
    padding: 0;
}
.cart {
    min-width: 300px;
    max-width: 300px;
    background: lightgray;
    padding: 0;
    text-align: center;
}
.product_list {
    border: 1px solid;
    padding: 10px;
}
.add-button {
    color: #fff;
    background: lightblue;
    transition: 0.3s;
    text-align: center;
    padding: 5px 4px;
    cursor: pointer;
}
.remove-button {
    color: #000;
    background: lightyellow;
    transition: 0.3s;
    text-align: center;
    padding: 5px 4px;
    margin-left: 20px;
    cursor: pointer;
}

